/java_programming/Net beans projects/WebApplication1/nbproject/private/
/java_programming/Net beans projects/WebApplication1/build/
/java_programming/Net beans projects/JavaProgramming/nbproject/private/
/java_programming/Net beans projects/JavaProgramming/build/
/java_programming/Net beans projects/WebAppMVC/nbproject/private/
/java_programming/Net beans projects/FirstProject/nbproject/private/
/java_programming/Net beans projects/FirstProject/build/
*.zip